{{ 'cart.css' | asset_url | stylesheet_tag }}

<div class="container-fluid">
  <div class="title"><h1>Shopping Cart</h1></div>

  <div class="row" style="margin: auto;">
    <div class="col-12 col-md-8 col-lg-9">
      {% form 'cart', cart %}
        {% for item in cart.items %}
          <div class="cart-item" id="cart_item_{{item.id}}">
            <div class="row" style="margin: auto;">
              <div class="col-5 col-md-3">
                <div class="image-container">
                  <img class="product-image" src="{{item.image | image_url}}" alt="">
                </div>
              </div>
              <div class="col-7 col-md-9">
                <div class="item-title">{{ item.title | link_to: item.url }}</div>
                <p>{{ item.price | money }}</p>
                <div class="item-action-row">
                  <div class="row-group">
                    <div class="card-row">
                      <div style="margin-right: 1rem;">Total</div>
                      <div class="value total-price">
                        {{ cart.currency.symbol }}
                        <span class="currency-value" id="price_{{item.id}}">{{ item.final_line_price }}</span>
                        {{ cart.currency.iso_code }}
                      </div>
                    </div>
                    <div class="input-row" style="margin: auto;">
                      <div class="input-button-group" value="{{item.id}}">
                        <button
                          class="btn btn-secondary quantity-change increment-quantity"
                          value="{{item.id}}"
                          type="button"
                          id="increment-quantity_{{item.id}}"
                        >
                          <i class="bi bi-plus"></i>
                        </button>

                        <input
                          type="number"
                          name="quantity"
                          value="{{item.quantity}}"
                          class="quantity-input"
                          id="quantity-input_{{item.id}}"
                        >

                        <button
                          class="btn btn-secondary quantity-change decrement-quantity"
                          value="{{item.id}}"
                          type="button"
                          id="decrement-quantity_{{item.id}}"
                        >
                          <i class="bi bi-dash"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="row-group">
                    <button class="btn btn-danger delete" value="{{item.id}}" type="button">
                      <i class="bi bi-trash"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endform %}
    </div>

    <div class="col-12 col-md-4 col-lg-3">
      <div class="checkout-card">
        <div class="card-title">Checkout</div>
        <div class="card-row">
          <div class="key">Total Price</div>
          <div class="value">
            {{ cart.currency.symbol }}
            <span class="currency-value" id="subtotal-price">{{ cart.items_subtotal_price }}</span>
            {{ cart.currency.iso_code }}
          </div>
        </div>
        <div class="card-row">
          <div class="key">Discount</div>
          <div class="value">
            {{ cart.currency.symbol }}
            <span class="currency-value" id="total-discount">{{ cart.total_discount }}</span>
            {{ cart.currency.iso_code }}
          </div>
        </div>
        <div class="card-row">
          <div class="key">Checkout Amount</div>
          <div class="value">
            {{ cart.currency.symbol }}
            <span class="currency-value" id="checkout-amount">{{ cart.total_price }}</span>
            {{ cart.currency.iso_code }}
          </div>
        </div>
        <button class="btn btn-success checkout-button" type="submit" form="cart_form" name="checkout">Checkout</button>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" id="cart-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-message">Add to cart response</div>
          <div class="message-icon">
            <i class="bi bi-check-circle" id="icon-success"></i>
            <i class="bi bi-x-circle failed" id="icon-failure"></i>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Continue Shopping</button>
        </div>
      </div>
    </div>
  </div>
</div>

<style></style>

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<script></script>

{% schema %}
{
  "name": "Shopping Cart",
  "presets": [
    {
      "name": "Shopping Cart"
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "label": "Background Color",
      "default": "#33688C"
    },

    {
      "type": "color",
      "id": "color",
      "label": "Text Color ",
      "default": "#FFFFFF"
    }
  ]
}
{% endschema %}
