{{ 'collection-products.css' | asset_url | stylesheet_tag }}
<div class="title">
  <h1>{{ collection.title }}</h1>
</div>

<div class="products-header">
  <div class="product-sort">
    <div class="label">Sort By</div>
    <select id="sort-by" class="form-select sort-option-select">
      {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

      {% for option in collection.sort_options %}
        <option
          value="{{ option.value }}"
          {% if option.value == sort_by %}
            selected="selected"
          {% endif %}
        >
          {{ option.name }}
        </option>
      {% endfor %}
    </select>
  </div>
  <div>
    {% comment %}
      <div class="btn-group" role="group" aria-label="List type button group">
        <input type="radio" class="btn-check" name="list-type" id="grid" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="grid"><i class="bi bi-grid-fill"></i></label>

        <input type="radio" class="btn-check" name="list-type" id="list" autocomplete="off">
        <label class="btn btn-outline-primary" for="list"><i class="bi bi-list-ul"></i></label>
      </div>
    {% endcomment %}
    <button
      class="btn btn-lg toggle-filter-button d-blcok d-md-none"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasFilters"
      aria-controls="offcanvasFilters"
    >
      <i class="bi bi-list"></i>
    </button>
  </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasFilters" aria-labelledby="offcanvasFiltersLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasFiltersLabel">Filters</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    {% render 'filters', collection: collection %}
  </div>
</div>

<div class="row" style="margin: auto;">
  <div class="col-md-2 d-none d-md-block">
    {% render 'filters', collection: collection %}
  </div>
  <div class="col-12 col-md-10">
    {% paginate collection.products by 4 %}
      <div class="products ">
        {% for product in collection.products %}
          <div class="product">
            {% render 'product-card', product: product %}
          </div>
        {% endfor %}
      </div>

      {{ paginate | default_pagination }}
    {% endpaginate %}
  </div>
</div>

<style></style>

<script src="{{ 'collection-products.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'filters.js' | asset_url }}" defer="defer"></script>
<script></script>

{% schema %}
{
  "name": "Products By Collection",
  "presets": [
    {
      "name": "Products By Collection"
    }
  ],
  "settings": [
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background Color",
      "default": "#33688C"
    },

    {
      "type": "color",
      "id": "color",
      "label": "Text Color ",
      "default": "#FFFFFF"
    }
  ]
}
{% endschema %}
