<h1>{{ product.title }}</h1>

<img class="product-image-large" src="{{product.featured_image | image_url}}" alt="">
<p>{{ product.price | money }}</p>
<div>{{ product.description }}</div>

{% form 'product', product %}
  <select name="id">
    {% for variant in product.variants %}
      <option value="{{variant.id}}">{{ variant.title }} - {{ variant.price | money }}</option>
    {% endfor %}
  </select>
  <input type="text" name="quantity" min="1" value="1">

  <button type="submit">{{ 'general.add_to_cart' | translate }}</button>
{% endform %}
