{% if search.performed %}
  <h1>Search Results</h1>

  {% paginate search.results by 4 %}
    {% for result in search.results %}
      {% if result.object_type == 'page' %}
        <p>Page</p>
        <a href="{{result.url}}"></a>
      {% elsif result.object_type == 'article' %}
        <p>Article :</p>
        <a href="{{result.url}}">{{ result.title }}</a>
      {% elsif result.object_type == 'product' %}
        {% render 'product-short', product: result %}
      {% endif %}

      {% comment %} {{ result.content | highlight: search.terms }} {% endcomment %}
    {% endfor %}

    {{ paginate | default_pagination }}
  {% endpaginate %}

{% else %}
  <h1>Try searching for something</h1>
{% endif %}
